@import "tailwindcss";

:root {
  --background: #FAF7F2;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

/* Custom utility classes */
.bg-beige {
  background-color: #FAF7F2;
}
